@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: url('/assets/fonts/lato-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/assets/fonts/lato-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/assets/fonts/source-sans-pro-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/assets/fonts/source-sans-pro-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/assets/fonts/source-sans-pro-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url('/assets/fonts/source-sans-pro-900.woff2') format('woff2');
}
